<div class="detail-wrapper">

  <div   class="poster">
            <div class="container">
              <div class="row">
                <div class="col-12 col-md-6">
                  <h1 class="poster__header">{{Data.name}}</h1>
                  <h2 class="txt-color poster__tagline">{{ Data.project_name}}</h2>
                  <p class="txt-color">Genres: <span class="badge badge-success">{{ Data.technologies }}</span></p>
                  <p class="txt-color poster__overview"><span class="font-weight-bold">Overview:</span> <br/> {{ Data.description}}</p>
                </div>
              <div class="col-12 col-md-6 poster__image-wrap">
                  <img class="poster__image"  src={{Data.photo}}  />
              </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col">
                <br />
               

              </div>
            </div>
          </div>
  
   
  
        </div>  