<div class="container portfolio">
	<div class="row">
		<div class="col-md-12">
			<div class="heading">				
				<img src="https://image.ibb.co/cbCMvA/logo.png" />
			</div>
		</div>	
	</div>
	<div class="bio-info">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						<div class="bio-image">
							<img src="../../assets/1-min273x273.png" alt="image" />
						</div>			
					</div>
				</div>	
			</div>
			<div class="col-md-6">
				<div class="bio-content">
					<p>Hi there, I'm {{name}}</p>
          <h6> </h6>
          
          <h1>I am an {{work}}</h1>
          <h2>born in {{birthday}}</h2>
          <h3>my skills are {{skills}}</h3>
				</div>
			</div>
		</div>	
	</div>
</div>